In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\stvma\Downloads\Data analyst Data.xlsx')

In [2]:
# Calculate the number of unique students
unique_students = df['First Name'].nunique()
print(f"The dataset contains {unique_students} unique students.")

The dataset contains 2324 unique students.

In [3]:
# Calculate the average GPA of the students
average_gpa = df['CGPA'].mean()
print(f"The average GPA of the students is {average_gpa:.2f}.")

The average GPA of the students is 8.04.

In [4]:
# Calculate the distribution of students across different graduation years
graduation_year_distribution = df['Year of Graduation'].value_counts()
print("Distribution of students across different graduation years:")
print(graduation_year_distribution)

Distribution of students across different graduation years:
2023    1536
2024    1511
2025    1292
2026     555
Name: Year of Graduation, dtype: int64

In [5]:
# Calculate the distribution of student's experience with Python programming
python_experience_distribution = df['Experience with python (Months)'].value_counts()
print("Distribution of student's experience with Python programming:")
print(python_experience_distribution)

Distribution of student's experience with Python programming:
5    1242
3    1008
8     800
6     738
7     640
4     466
Name: Experience with python (Months), dtype: int64

In [6]:
import pandas as pd
import re

# Define a function to calculate the mean from income range strings
def calculate_mean(income_range):
    # Use regular expressions to extract numerical values
    values = [float(match) for match in re.findall(r'\d+\.\d+|\d+', income_range)]
    
    # Calculate the mean
    if values:
        return sum(values) / len(values)
    else:
        return None

# Apply the calculate_mean function to the 'Family Income' column
df['Family Income'] = df['Family Income'].apply(calculate_mean)

average_family_income = df['Family Income'].mean()

print(f"The average family income of the students is: {average_family_income:.2f} Lakh")

The average family income of the students is: 1.29 Lakh

In [7]:
# Calculate the GPA variation among different colleges (show top 5 results only)
gpa_variation_by_college = df.groupby('College Name')['CGPA'].mean().nlargest(5)
print("GPA variation among different colleges (top 5 results):")
print(gpa_variation_by_college)

GPA variation among different colleges (top 5 results):
College Name
THAKUR INSTITUTE OF MANAGEMENT STUDIES, CAREER DEVELOPMENT & RESEARCH - [TIMSCDR]    8.585714
St Xavier's College                                                                  8.578571
B. K. Birla College of Arts, Science & Commerce (Autonomous), Kalyan                 8.456410
Symbiosis Institute of Technology, Pune                                              8.303448
AP SHAH INSTITUTE OF TECHNOLOGY                                                      8.283333
Name: CGPA, dtype: float64

In [8]:
import pandas as pd
from scipy import stats

# Replace 'NAN' with 0 and 'Attending' with 1 in 'Attendee Status'
df['Attendee Status'] = df['Attendee Status'].replace('NAN', 0)
df['Attendee Status'] = df['Attendee Status'].replace('Attending', 1)
df['Attendee Status'] = df['Attendee Status'].astype(int)

# Convert 'Quantity' column to numeric
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')

# Replace NaN values with 0 for 'Quantity'
df['Quantity'].fillna(0, inplace=True)

# Calculate Z-scores for 'Attendee Status' and 'Quantity'
z_scores_attendee = stats.zscore(df['Attendee Status'])
z_scores_quantity = stats.zscore(df['Quantity'])

# Define a threshold for considering values as outliers (e.g., z-score > 3 or < -3)
threshold = 3

# Identify outliers for 'Attendee Status'
outliers_attendee = df[abs(z_scores_attendee) > threshold]

# Identify outliers for 'Quantity'
outliers_quantity = df[abs(z_scores_quantity) > threshold]

# Check if there are any outliers
if not outliers_attendee.empty:
    print("\nOutliers in 'Attendee Status':")
    print(outliers_attendee[['Events', 'Attendee Status']].to_string())
else:
    print("\nNo outliers found in 'Attendee Status'.")

if not outliers_quantity.empty:
    print("\nOutliers in 'Quantity':")
    print(outliers_quantity[['Events', 'Quantity']].to_string())
else:
    print("\nNo outliers found in 'Quantity'.")

Outliers in 'Attendee Status':
                                       Events  Attendee Status
78                     Art of Resume Building                0
80                     Art of Resume Building                0
121                    Art of Resume Building                0
139                    Art of Resume Building                0
358         Data Visualization using Power BI                0
447         Data Visualization using Power BI                0
448         Data Visualization using Power BI                0
487         Data Visualization using Power BI                0
1362  Internship Program(IP) Success Conclave                0
2144              Product Design & Full Stack                0
3572                   Art of Resume Building                0
3585                   Art of Resume Building                0

No outliers found in 'Quantity'.

In [9]:
# Calculate the average GPA for each city
average_gpa_by_city = df.groupby('City')['CGPA'].mean()
print("Average GPA for each city:")
print(average_gpa_by_city)

Average GPA for each city:
City
Agartala     7.660714
Agra         8.046429
Ahemdabad    8.190385
Ajmer        8.284314
Akola        8.021429
               ...
Vidisha      7.738095
Vijaywada    7.986364
Wardha       8.328571
konark       8.071429
kullu        7.878571
Name: CGPA, Length: 177, dtype: float64

In [10]:
# Identify any relationship between family income and GPA
correlation_family_income_gpa = df['Family Income'].corr(df['CGPA'])
print(f"The correlation between family income and GPA is {correlation_family_income_gpa:.2f}.")

The correlation between family income and GPA is 0.02.